@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.video-list {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;

  @include tablet {
    padding-left: 2.25rem;
  }

  @include desktop {
    padding-left: 1rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    color: $mercury;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-left: 1rem;


    @include tablet {
      font-size: 0.8rem;
      margin: 0;

      margin-top: 1.5rem;
      margin-left: 2.25rem;
    }

    @include desktop {
      margin: 0;
      margin-top: 2rem;
      margin-left: 1rem;
    }
  }
}
