@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.video-list {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    color: $mercury;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;

    @include tablet {
      font-size: 0.8rem;
      margin: 0;
      margin-bottom: 1rem;
      margin-left: 2.25rem;
      margin-top: 1.5rem;
    }

    @include desktop {
      margin-bottom: 0.5rem;;
      margin-top: 2rem;
    }
  }
}
