@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.hero-video {
  width: 100%;
  max-width: 968px;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
  aspect-ratio: 16 / 9;

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
    background-color: $bf-black;

    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    @include desktop {
      padding-left: auto;
      padding-right: auto;
    }
  }
}
