@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.hero-video {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;

    @include tablet {
        
    }
    @include desktop {
      max-width: 968px;
      
    }

  &__container {
    background-color: $bf-dk-black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include tablet {
      padding-left: 2.25rem;
      padding-right: 2.25rem;
    }

    @include desktop {
        padding-left: 7.75rem;
        padding-right: 7.75rem;
        
    }
  }
}
