@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;

.button {

  &--upload {
  @include button();
    background-image: url("../../assets/images/icons/upload.svg")
  }

  &--submit {
    @include button();
    background-image: url("../../assets/images/icons/add_comment.svg");
    
    &-container {

      @include tablet {
        width: 35%;
        display: flex;
        justify-content: space-between;
        margin-left: 1.5rem;
      }
    }
  }
  &--publish {
    @include button();
    background-image: url("../../assets/images/icons/publish.svg");
  }

}
